* {
  margin: 0;
}

h1, h2 {
  border-bottom: 1px solid #aaaaaa;
  margin: 0;
  overflow: hidden;
  font-family: Georgia,Times,serif;
  font-weight: normal;
}

h2 {
  font-size: 21px;
  line-height: 27.3px;
  margin-top: 21px;
  margin-bottom: 5.25px;
}

h1 {
  font-size: 28.8px;
  line-height: 37.44px;
}

h3 {
  font-size: 16.8px;
  line-height: 26.88px;
  padding-top: 8.4px;
}

p {
  font-size: 14px;
  line-height: 22.4px;
  margin: 7px 0;
}

a:link {
  text-decoration: none;
  color: #0645ad;
}

a:visited {
  color: #0b0080;
}

a:hover {
  text-decoration: underline;
}

.box-title {
  display: block;
  text-align: center;
  margin: 5px;
  font-size: 15.4px;
  line-height: 18.48px;
  font-weight: bold;
}

h2 a, h3 a, h4 a {
  font-size: 13px;
  font-weight: normal;
  margin-left: 15px;
}

h2 a:before, h3 a::before, h4 a::before {
  content: "[";
  color: black;
  font-size: 13px;
}

h2 a:after, h3 a::after, h4 a::after {
  content: "]";
  color: black;
  font-size: 13px;
}

.photo-link a:hover {
  cursor: pointer;
}

body {
  display: flex;
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 94%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 94%);
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.menu-text {
  margin: 5px 5px 10px 15px;
  font-size: 12px;
  padding-bottom: 20px;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
}

.bottom-user-menu-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row;
  width: 100%;
  border-bottom: 1px solid #a7d7f9;
}

.edit-menu-left {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
}

.article-menu-right-flex {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
}

.article-menu-right-flex a, .edit-menu-left a {
  border-right: 1px solid #a7d7f9;
  padding: 7px 6.4px 7px 6.4px;
  margin: 0;
  background: rgb(252,254,253);
  background: -moz-linear-gradient(top, rgba(252,254,253,1) 0%, rgba(250,252,254,1) 26%, rgba(236,243,250,1) 84%, rgba(233,243,247,1) 93%, rgba(234,242,247,1) 100%);
  background: -webkit-linear-gradient(top, rgba(252,254,253,1) 0%,rgba(250,252,254,1) 26%,rgba(236,243,250,1) 84%,rgba(233,243,247,1) 93%,rgba(234,242,247,1) 100%);
}

.article-menu-right-flex a:first-child, .edit-menu-left a:first-child {
  border-left: 1px solid #a7d7f9;
  background: white;
}

form {
  margin-left: 10px;
  min-width: 5em;
  max-width: 400px;
  display: inline;
  margin-bottom: 4px;
}

input {
  width: 320px;
  height: 10px;
  padding: 5px;
}

.search-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  right: 22px;
  top: 5px;
  bottom: 1px;
  background-color: white;
  border: 0;
  background-image: url(../img/search-ltr.svg);
  background-repeat: no-repeat;
}

.search-button:hover {
  cursor: pointer;
}

input:focus{
  outline: none;
}

aside {
  width: 176px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  order: 0;
  flex: 0 0 auto;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 6%, rgba(246,246,246,1) 10%, rgba(246,246,246,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 6%,rgba(246,246,246,1) 10%,rgba(246,246,246,1) 100%);
}

.logo {
  display: block;
  margin: 10px auto;
}

aside ul {
  list-style: none;
  margin: 0;
}

.sidebar-lists {
  margin: 20px 20px 0 20px;
}

.siderbar-list-title-bold {
  margin-bottom: 3px;
  font-size: 12px;
}

.sidebar-div, .sidebar-div-top{
  margin-bottom: 10px;
  border-bottom: 1px grey solid;
  padding-bottom: 10px;
}

.sidebar-div ul {
  padding: 0;
  margin-left: 20px;
}

.sidebar-div-top ul{
  margin-left: 5px;
  padding: 0;
}

.siderbar-div ul li {
  font-size: 12px;
}

.content {
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
}

.subtitle {
  font-size: 12.88px;
  margin-top: 10px;
}

.content-body {
  margin-top: 20px;
  overflow: hidden;
}

.small-note {
  font-style: italic;
  margin-bottom: 15px;
  margin-left: 20px;
}

.bio-textbox {
  width: 282px;
  border: 1px solid #aaaaaa;
  float: right;
  background: #f9f9f9;
  font: 12.32px;
  padding: 2.46px;
  margin: 6.16px 0px 6.16px 12.32px;
  line-height: 18.48px;
}

.bio-textbox img {
  width: 220px;
  margin: auto;
  display: block;
}

.bio-textbox p {
  text-align: center;
  font-size: 12.32px;
  margin: 0;
}

.bio-definition-list {
  margin-bottom: 10px;
  font-size: 12.32px;
}

dt {
  float: left;
  margin-left: 5px;
  text-align: right;
  font-weight: bold;
}

dd {
  text-align: left;
  padding-left: 95px;
}

.content-table {
  border: 1px solid #aaaaaa;
  display: inline-block;
  box-sizing: border-box;
  font-size: 13.3px;
  line-height: 21.28px;
  padding: 10px;
  background: #f9f9f9;
}

.content-table ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.content-table li {
  display: table;
  counter-increment: item;
  font-size: 13.3px;
}

.content-table li::before {
  content: counters(item, " ") " ";
  display: table-cell;
  padding-right: 0.6em;
}

.thumbinner {
  width: 230px;
  box-sizing: border-box;
  border: 1px solid #aaaaaa;
  padding: 3px;
  float: right;
  clear: both;
  margin-left: 20px;
  margin-top: 3px;
  background: #f9f9f9;
}

.wider-thumbinner {
  width: 230px;
}

.smaller-thumbinner  {
  width: 190px;
}

.wider-thumbpic {
  width: 220px;
  border: 1px solid rgb(204, 204, 204);
}

.smaller-thumbpic {
  width: 180px;
  border: 1px solid rgb(204, 204, 204);
}

.thumbinner p {
  font-size: 12.3px;
}

.quote {
  line-height: 22.4px;
  margin: 14px 0;
  padding: 0 40px;
  display: block;
}

.short-quote {
  padding-left: 20px;
}

.publications ul li, .awards ul li {
  font-size: 14px;
  line-height: 22.4px;
  text-align: left;
}

.publications li, .awards li {
  list-style-type: none;
  margin-left: 10px;
}

.publications ul li::before, .awards ul li::before {
  color: #557ab9;
  content: "\2022";
  font-size: 25px;
  padding-right: 10px;
  margin-left: -20px;
}

.footer {
  background: rgb(246, 246, 246);
  width: 100%;
  height: 109px;
  font-size: 11.2px;
  padding: 5.6px 0;
  text-align: left;
  line-height: 15.68px;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  display: inline;
}

.footer-text {
  margin-left: 20px;
}
