body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: 820px;
  background-color: #dcd6cd;
  box-sizing: border-box;
  margin: 0;
  padding: 0 100px 56px 100px;

}

.title {
  margin-top: 0;
  padding-top: 30px;
  font-weight: bold;
  font-size: 28px;
}

.grey-text-box {
  background-color: #938c97;
  color: white;
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  position: relative;
}

.grey-text-box p {
  position: relative;
  top: 10px;
  left: 10px;
}

.flex-forms-container {
  display: flex;
  justify-content:space-between;
  width: 100%;
  box-sizing: border-box;
}

.box {
  font-size: 18px;
  width: 300px;
}

.checkboxes {
  display: flex;
  justify-content: space-between;
}

.buttons-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.required{
  color:red;
}

textarea {
  width: 100%;
  height: 150px;
}

.introduction{
  margin-bottom: 20px;
}

.checkbox-accept {
  margin-top: 30px;
}

.input-text {
  width: 300px;
  height: 37px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
}

.birth-gender {
  display: flex;
  justify-content: space-between;
}

.input-text-year {
  width: 80px;
  height: 37px;
  box-sizing: border-box;
  padding: 10px;
}

.block-item {
  display: block;
}

label {
  display: block;
  width:100%;
}

.telephone, .name{
  margin-top: 10px;
}

.gender {
  width: 150px;
}

span {
  font-weight: bold;
}

.cv span {
  display: block;
  margin: 10px 0;
}

button[type="submit"], button[type="reset"] {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

button.submit-button {
  width: 220px;
  background: #4E4563;
  color: #E1DBD1;
  font-size: 18px;
}

button.reset-button {
  width: 160px;
  background: #F2F2F2;
  color: #574E67;
  font-size: 14px;
}
